# Teste de Cientista de Dados
Configurações do teste primeiro

---

### Entendendo os Dados
Primeiro, vamos analisar os formatos que temos e informações principais de cada tabela. Sabendo de temos valores nulos e tendo uma noção das colunas com seus respectivos tipos.

In [13]:
# CONFIG
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///dsci_test.sqlite')

#### Tabela Itens
Ententendo cada tabela por vez, começando com a tabela de Itens.

In [26]:
df_itens = pd.read_sql('select * from itens', engine)

df_itens.head()

,codigo_produto_mask,setor,familia,subfamilia,peso_unitario
0,66947358462228cf9b31cafc6368174f,Alimentos,Cachorros,Bifinhos,0.520
1,97f1357808314f0979f32f06c1b02e01,Medicina e Bem Estar,Cachorros,Vitaminas e Suplementos,0.050
2,5a4a1c97b398d291f11aeeb178f05862,Brinquedos,Cachorros,Objetos,0.073
3,321bbe12a625bf8217baa30ffdd2fc7b,Medicina e Bem Estar,Cachorros,Antipulgas e Carrapatos,0.100
4,8c65837857523fe7d4faf12c2c4c04ae,Alimentos,Cachorros,Ração Úmida,0.100

Entendendo melhor agora o tamanho do Dataframe, colunas, se apresenta algum valor nulo e outros:

In [16]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11521 entries, 0 to 11520
Data columns (total 5 columns):
codigo_produto_mask    11521 non-null object
setor                  11521 non-null object
familia                11521 non-null object
subfamilia             11521 non-null object
peso_unitario          11521 non-null float64
dtypes: float64(1), object(4)
memory usage: 450.2+ KB

Por fim, avaliando o básico de estatística nas colunas numéricas:

In [21]:
df_items.describe()

       peso_unitario
count   11521.000000
mean        1.739357
std         3.867471
min         0.005000
25%         0.088000
50%         0.240000
75%         1.027000
max        30.250000

#### Tabela Pedidos
Ententendo agora a tabela de pedidos, vendo o DF em partes, depois pensando nos detalhes por coluna e vendo o básico estatístico de colunas numéricas.

In [10]:
df_orders = pd.read_sql('select * from pedidos limit 100', engine)
df_orders.head()

,id_pedido_mask,pedido_assinatura,contagempedidos,canal_venda,subcanal_venda,canal_marketing,forma_pagamento,parcelas
0,c5c58805a8d84c9de5b43644f83406c9,0,1,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,47a6f6bcb1457a3123e24eada0ca981f,Cartão de Crédito Total,3
1,cf66924d6e2d3ee59d23687ffbf6503a,0,5,15bbb9d0bbf25e8d2978de1168c749dc,b2c79ad7dcf03ba266dc0885e1266675,6e9790f4d0acd2721e0b370023de531d,Cartão de Crédito Total,2
2,fc955ecdb43129249918f7df5bb30fa2,0,8,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,eb6945d3ad790ec60e20c6c85a54e30b,Boleto,1
3,38b5b3fed9097a193006d6d9acde05ed,1,13,a564de63c2d0da68cf47586ee05984d7,6ab241effd5d8dd6ecdd79cba1ac174a,decc1eab6d0751fcb2d8e41a2ffeb55a,Cartão de Crédito Total,2
4,00c6dca9fbed874f07b97b6211e73094,0,6,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,5577d244b0e0f090fb16401226bfd8e4,Cartão de Crédito Total,2

In [17]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
id_pedido_mask       100 non-null object
pedido_assinatura    100 non-null int64
contagempedidos      100 non-null int64
canal_venda          100 non-null object
subcanal_venda       100 non-null object
canal_marketing      100 non-null object
forma_pagamento      100 non-null object
parcelas             100 non-null int64
dtypes: int64(3), object(5)
memory usage: 6.4+ KB

In [22]:
df_orders.describe()

       pedido_assinatura  contagempedidos    parcelas
count         100.000000       100.000000  100.000000
mean            0.410000         9.760000    2.230000
std             0.494311        14.623297    1.003579
min             0.000000         1.000000    1.000000
25%             0.000000         1.000000    1.000000
50%             0.000000         4.000000    2.500000
75%             1.000000        11.250000    3.000000
max             1.000000        91.000000    6.000000

#### Tabela Transações
Ententendo um pouco mais agora da tabela de transacoes.

In [12]:
df_transactions = pd.read_sql('select * from transacoes limit 100', engine)
df_transactions.head()

,id_pedido_mask,id_usuario_mask,codigo_produto_mask,quantidade,receita,frete,desconto,brinde
0,1b36ebea2c986781b5a7500b7d8971a5,57c9bb7ce32a4629b791c11f113f4e08,b56aa30a87fa7812daa689886060c0b9,1,33.66,0.00,3.74,0
1,e303a604a1d1cd5b7455dcaf256da2ec,e99abed19b0ede9a1768de5af9573a70,9322504cb6521dddcf8fcca18810c975,1,0.00,0.00,99.90,1
2,830172ec53b00a9feeefce2465eafe4c,309ba5b53dce34cac24a37b196e51c76,cca7873258ccf037fee3ee6077a67a97,1,269.09,0.00,29.90,0
3,a46ca254a2cf132f8c2087e825cc46e4,8e3428b0da37721f59d06b648fdb1d69,db69799b4b02e6d708fdf6408b400a0e,1,161.50,0.00,0.00,0
4,00627c9841286f7a2054a6b3b54d05dd,874af7ab886dd5ad7c8306d0c2f6ac83,97f1357808314f0979f32f06c1b02e01,1,41.37,0.96,4.49,0

In [23]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
id_pedido_mask         100 non-null object
id_usuario_mask        100 non-null object
codigo_produto_mask    100 non-null object
quantidade             100 non-null int64
receita                100 non-null float64
frete                  100 non-null float64
desconto               100 non-null float64
brinde                 100 non-null int64
dtypes: float64(3), int64(2), object(3)
memory usage: 6.4+ KB

In [24]:
df_transactions.describe()

       quantidade     receita       frete    desconto      brinde
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     3.480000   74.930000    1.128800    9.088200    0.090000
std      8.758811   76.710813    3.596698   15.971051    0.287623
min      1.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000   12.727500    0.000000    0.000000    0.000000
50%      1.000000   53.250000    0.000000    2.475000    0.000000
75%      1.250000  114.327500    0.007500   11.160000    0.000000
max     55.000000  392.040000   28.070000   99.900000    1.000000

---

## Etapa 1: Análise Exploratória 
Agora, entendendo os dados e tirando insights.

Tendo em vista que as tabelas são pequenas (no máx. 450kb), vou juntar todas em um dataframe só para ficar mais fácil de analisar todas as informações.

In [30]:
df = df_transactions.join(df_itens, lsuffix='codigo_produto_mask', rsuffix='codigo_produto_mask')
df = df.join(df_orders, lsuffix='id_pedido_mask', rsuffix='id_pedido_mask')

df.head()

,id_pedido_maskid_pedido_mask,id_usuario_mask,codigo_produto_maskcodigo_produto_mask,quantidade,receita,frete,desconto,brinde,codigo_produto_maskcodigo_produto_mask,setor,...,subfamilia,peso_unitario,id_pedido_maskid_pedido_mask,pedido_assinatura,contagempedidos,canal_venda,subcanal_venda,canal_marketing,forma_pagamento,parcelas
0,1b36ebea2c986781b5a7500b7d8971a5,57c9bb7ce32a4629b791c11f113f4e08,b56aa30a87fa7812daa689886060c0b9,1,33.66,0.00,3.74,0,66947358462228cf9b31cafc6368174f,Alimentos,...,Bifinhos,0.520,c5c58805a8d84c9de5b43644f83406c9,0,1,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,47a6f6bcb1457a3123e24eada0ca981f,Cartão de Crédito Total,3
1,e303a604a1d1cd5b7455dcaf256da2ec,e99abed19b0ede9a1768de5af9573a70,9322504cb6521dddcf8fcca18810c975,1,0.00,0.00,99.90,1,97f1357808314f0979f32f06c1b02e01,Medicina e Bem Estar,...,Vitaminas e Suplementos,0.050,cf66924d6e2d3ee59d23687ffbf6503a,0,5,15bbb9d0bbf25e8d2978de1168c749dc,b2c79ad7dcf03ba266dc0885e1266675,6e9790f4d0acd2721e0b370023de531d,Cartão de Crédito Total,2
2,830172ec53b00a9feeefce2465eafe4c,309ba5b53dce34cac24a37b196e51c76,cca7873258ccf037fee3ee6077a67a97,1,269.09,0.00,29.90,0,5a4a1c97b398d291f11aeeb178f05862,Brinquedos,...,Objetos,0.073,fc955ecdb43129249918f7df5bb30fa2,0,8,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,eb6945d3ad790ec60e20c6c85a54e30b,Boleto,1
3,a46ca254a2cf132f8c2087e825cc46e4,8e3428b0da37721f59d06b648fdb1d69,db69799b4b02e6d708fdf6408b400a0e,1,161.50,0.00,0.00,0,321bbe12a625bf8217baa30ffdd2fc7b,Medicina e Bem Estar,...,Antipulgas e Carrapatos,0.100,38b5b3fed9097a193006d6d9acde05ed,1,13,a564de63c2d0da68cf47586ee05984d7,6ab241effd5d8dd6ecdd79cba1ac174a,decc1eab6d0751fcb2d8e41a2ffeb55a,Cartão de Crédito Total,2
4,00627c9841286f7a2054a6b3b54d05dd,874af7ab886dd5ad7c8306d0c2f6ac83,97f1357808314f0979f32f06c1b02e01,1,41.37,0.96,4.49,0,8c65837857523fe7d4faf12c2c4c04ae,Alimentos,...,Ração Úmida,0.100,00c6dca9fbed874f07b97b6211e73094,0,6,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,5577d244b0e0f090fb16401226bfd8e4,Cartão de Crédito Total,2