# Teste de Cientista de Dados
Configurações do teste primeiro

---

In [15]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///dsci_test.sqlite')

pd.read_sql('select * from itens limit 100', engine).head()

,codigo_produto_mask,setor,familia,subfamilia,peso_unitario
0,66947358462228cf9b31cafc6368174f,Alimentos,Cachorros,Bifinhos,0.520
1,97f1357808314f0979f32f06c1b02e01,Medicina e Bem Estar,Cachorros,Vitaminas e Suplementos,0.050
2,5a4a1c97b398d291f11aeeb178f05862,Brinquedos,Cachorros,Objetos,0.073
3,321bbe12a625bf8217baa30ffdd2fc7b,Medicina e Bem Estar,Cachorros,Antipulgas e Carrapatos,0.100
4,8c65837857523fe7d4faf12c2c4c04ae,Alimentos,Cachorros,Ração Úmida,0.100

In [12]:
pd.read_sql('select * from pedidos limit 100', engine).head()

,id_pedido_mask,pedido_assinatura,contagempedidos,canal_venda,subcanal_venda,canal_marketing,forma_pagamento,parcelas
0,c5c58805a8d84c9de5b43644f83406c9,0,1,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,47a6f6bcb1457a3123e24eada0ca981f,Cartão de Crédito Total,3
1,cf66924d6e2d3ee59d23687ffbf6503a,0,5,15bbb9d0bbf25e8d2978de1168c749dc,b2c79ad7dcf03ba266dc0885e1266675,6e9790f4d0acd2721e0b370023de531d,Cartão de Crédito Total,2
2,fc955ecdb43129249918f7df5bb30fa2,0,8,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,eb6945d3ad790ec60e20c6c85a54e30b,Boleto,1
3,38b5b3fed9097a193006d6d9acde05ed,1,13,a564de63c2d0da68cf47586ee05984d7,6ab241effd5d8dd6ecdd79cba1ac174a,decc1eab6d0751fcb2d8e41a2ffeb55a,Cartão de Crédito Total,2
4,00c6dca9fbed874f07b97b6211e73094,0,6,15bbb9d0bbf25e8d2978de1168c749dc,532c28d5412dd75bf975fb951c740a30,5577d244b0e0f090fb16401226bfd8e4,Cartão de Crédito Total,2

In [14]:
pd.read_sql('select * from transacoes limit 100', engine).head()

,id_pedido_mask,id_usuario_mask,codigo_produto_mask,quantidade,receita,frete,desconto,brinde
0,1b36ebea2c986781b5a7500b7d8971a5,57c9bb7ce32a4629b791c11f113f4e08,b56aa30a87fa7812daa689886060c0b9,1,33.66,0.00,3.74,0
1,e303a604a1d1cd5b7455dcaf256da2ec,e99abed19b0ede9a1768de5af9573a70,9322504cb6521dddcf8fcca18810c975,1,0.00,0.00,99.90,1
2,830172ec53b00a9feeefce2465eafe4c,309ba5b53dce34cac24a37b196e51c76,cca7873258ccf037fee3ee6077a67a97,1,269.09,0.00,29.90,0
3,a46ca254a2cf132f8c2087e825cc46e4,8e3428b0da37721f59d06b648fdb1d69,db69799b4b02e6d708fdf6408b400a0e,1,161.50,0.00,0.00,0
4,00627c9841286f7a2054a6b3b54d05dd,874af7ab886dd5ad7c8306d0c2f6ac83,97f1357808314f0979f32f06c1b02e01,1,41.37,0.96,4.49,0